<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="/public/css/bootstrap/bootstrap.min.css")
        link(rel='stylesheet', href='/public/css/style.css', type='text/css')
        link(rel="shortcut icon" href="/public/img/icon/favicon.png")
        title Update Todo
    body
        div.container
                h2 Update Todo
                form.form-inline(action="/update/"+todo.id, method="POST")
                    div.form-group
                        label.sr-only(for="title") Title:
                        input.form-control(type="text" name="title" value=todo.title placeholder="Enter title")
                    button.btn.btn-success.btn_left_margin(type="submit") Submit
                div.back_btn_container
                    a.btn.btn-primary(href="/") Back  